.section{
    background-color: aquamarine;
    margin: 2rem;
    height: 50vh;
    
}
.section1{
    background-color: yellowgreen;
    margin: 2rem;
    height: 50vh;
    
}
.section2{
    background-color: orange;
    margin: 2rem;
    height: 50vh;
    
}