*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(205, 255, 131);
    text-align: center;
}
.container{
    height: 70vh;
    width: 70vh;
    margin:auto;
    transform: translateY(29px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.game{
        /* border: 1px solid black; */
        height: 60vmin;
        width: 60vmin;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* gap: 1.5vmin; */
        justify-content: space-evenly;

}
.box{
        border-radius: 1rem;
        border: none;
        box-shadow: 0 0 0.4rem rgb(11, 11, 11);
        height: 18vmin;
        width: 18vmin;
        font-size: 8vmin;
        color: rgb(251, 61, 61);
}
#reset-btn,#new-btn{
    height:6vmin;
    width: 20vmin;
    border-radius: 10px;
    color: black;
    border: 1px solid red;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(0, 255, 51);

}
p{
    
    color: green;
    font-size: 2rem;
}
.win-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.hide{
    display: none;
}